<a class="col-md-4 card" href="{{ card.link.url }}">
  <div class="card__texture"></div>
    <div class="card__background card__background--{{ card.color }}" href="{{ card.link.url }}">
      <div class="card__content">
        <h3 class="card__title">{{ card.title }}</h3>
        <div class="card__icon ">
          <img src="{{ card.icon.url }}">
        </div>
        <p class="card__description">{{ card.description }}</p>
      </div>
  </div>
</a>