<a class="col-md-4 card" href="{{ url }}">
  <div class="card__texture"></div>
    <div class="card__background card__background--{{ color }}">
      <div class="card__content">
        <h3 class="card__title">{{ title }}</h3>
        <div class="card__icon ">
          <img src="{{ icon }}">
        </div>
        <p class="card__description">{{ description }}</p>
      </div>
  </div>
</a>