<div class="container factionList">
  {% if fields.icon %}
  <div class="row mb-3">
    <img class="sectionIcon" src="{{ Image(fields.icon).src }}" width="100">
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <h2 class="factionList__title">
        {{ fields.title }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="factionList__description col-md-10 offset-md-1">
      {{ fields.body }}
    </div>
  </div>
</div>

{% if factions %}
  <div class="container factionList__container">
    <div class="row">
      {% for faction in Post(factions) %}
        <a href="{{ faction.link }}" class="col-lg-3 col-6 factionCard">
          <div class="factionCard__content">
            <img class="factionCard__img" src="{{ Image(faction.meta('thumbnail')).src }}">
            <div class="factionCard__overlay">
              <img class="factionCard__icon" src="{{ Image(faction.meta('icon')).src }}">
              <h3 class="factionCard__title">{{ faction.post_title }}</h3>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}