<div class="container factionList">
  {% if fields.icon %}
  <div class="row">
    <img src="{{ fields.icon }}" width="100">
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <h2 class="factionList__title">
        {{ fields.title }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="factionList__description col-md-10 offset-md-1">
      {{ fields.body }}
    </div>
  </div>
</div>
{% if factions %}
<div class="container factionList__container">
  <div class="row">
    {% for faction in factions %}
      <a href="{{ faction.guid }}" class="col-md-3 col-6 factionCard">
        {% set thumbnail = Image(faction.thumbnail) %}
        <img class="factionCard__img" src="{{ thumbnail.src }}">
        <div class="d-none d-md-block factionCard__overlay">
          {% set icon = Image(faction.icon) %}
          <img class="factionCard__icon" src="{{ icon }}">
          <h3 class="factionCard__title">{{ faction.post_title }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}